@model MingGuApps.Models.User

@{
    ViewData["Title"] = "Login";
}
<br/>
<h2>
    Login
</h2>

@using (Html.BeginForm())
{

    @Html.ValidationSummary(true)

    <div style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px;
        width: 325px; margin: auto; display: table;">
        <table>
            <tr>
                <td valign="top">
                    @Html.LabelFor(model => model.username)
                </td>
                <td>
                    @Html.EditorFor(model => model.username)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => model.username)
                </div>
            </td>
        </tr>
        <tr>
            <td valign="top">
                @Html.LabelFor(model => model.password)
            </td>
            <td>
                @Html.EditorFor(model => model.password)
                <div style="height: 20px;">
                    @Html.ValidationMessageFor(model => model.password)
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="submit" value="Login" />
        </td>
    </tr>
</table>
</div>
}